<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    <title>Parkings</title>
</head>

<body>
    <h1>Parkings of <%=owner.name%> </h1>
    <a href="/owner/<%=id%>/update-owner">Update owner</a>
    <a href="/owners/logout">Logout</a>
    <div>
        <a href="/owner/<%=id%>/newParking">Add Parking</a>
    </div>
    <ul>
        <% for(let parking of parkings) {%>
            <li><a href="/owner/<%=id%>/<%=parking._id%>"><%= parking.title %></a></li>    
        <% } %>  
    </ul>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    </script>
    
</body>

</html>