<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="/css/stars.css">
    <title>Show</title>
</head>

<body>
    <h1><%= parking.title %> </h1>
    <h2>rating: <%= parking.avgrating %></h2>
    <h2>price for 2 wheeler: <%= parking.price2w %> </h2>
    <h2>no of slots for 2 wheeler: <%= parking.slot2w%> </h2>
    <h2>price for 4 wheeler: <%= parking.price4w %> </h2>
    <h2>no of slots for 2 wheeler: <%= parking.slot4w%> </h2>
    <h3><%= parking.location %> </h3>
    
    <% for(let review of parking.reviews) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <h5 class="card-title"> <%= review.author.name%></h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%= review.rating %> stars
                </p>
                <p class="card-text">Review: <%= review.body %></p>
            </div>
        </div>
        <% } %>
    <footer>
        <a href="/owner/<%=id%>">All Parkings</a>
    </footer>
</body>

</html>