<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
     	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Google Fonts Roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Material Design Bootstrap -->
		<link rel="stylesheet" href="css/mdb.min.css">
		<!-- Your custom styles (optional) -->
		<link rel="stylesheet" href="css/style.css">
<!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->  
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->	
			
<style>

			 
html
{
    
    color: #5b6060;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    
        
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Numans');

#main{
background-color:#faeff8;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
background-size: 100% 60%;
  
    
}
.navbar
{
    background-color: #fe8118;
    
}

.fa-car
{
    font-size: 50px;
    color: #000000 !important;
    transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.fa-car:hover
{
    color: #ffffff !important;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    display: inline;
    
  /*background-color: #333333;*/
}

.nav-item {
  float: right;
    
}

.nav-item {
  display: block;
  text-align: center;
  padding-right: 30px;
  text-decoration: none;
  
}
.nav-link
{
    color: #000000 !important;
     transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.nav-link:hover
{
 color: #ffffff !important;

}

.box
{
    height: 50px;
    width: 110px;
    position: relative;
    border-radius: 10px;
    transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
    border:none;
   /* margin-top: 1px;
    padding-top: 2px;*/
   
}
.box:hover
{
    background: #ffffff;
    box-shadow:0 12.5px 10px rgba(0, 0, 0, 0.06);
}
/*
Things related to the page (actual)
Things related to the page (actual)
Things related to the page (actual)
Things related to the page (actual)
Things related to the page (actual)
Things related to the page (actual)
Things related to the page (actual)
v
*/
#update-user
{
   
height: 100%;
    
    background: url("bg3.png");
    background-blend-mode: darken;
     background-size:cover;
    background-repeat: no-repeat;
   
      background-position: top;
  background-color: rgba(10, 9, 9, 0.38);
    
}
.loginbox
{
	width: 700px;
	height: 500px;
	position: relative;
    left: 30%;
    top: 200px;
	background: rgba(149, 141, 141, 0.81);
    box-shadow:  0 12.5px 10px rgba(0, 0, 0, 0.06);

    border-radius: 20px;
}  
#bigRightupdateBox {
   
   float:center;
} 
				.inpt
				{
					color:#fff;
					font-size: 22px;
					font-weight: bold;
					margin-bottom: -1px;
					margin-top:-1px;
					
				}

.loginbox input[type="text"], input[type="password"], input[type="name"], input[type="contact"]
{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.loginbox input[type="email"]
{
  border: none;
    border-bottom: 2px solid rgb(3, 3, 3);
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
}
</style>
<!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->  
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
		<title>Update User</title>
	</head>

	<body id="update-user">
		<nav class="navbar sticky-top shadow p-2 mb-2">
			<a class="navbar-brand" href="index.html"><i class="fas fa-car"></i></a>
			<ul class="navbar-nav">
				<li class="nav-item">
				  <a class="nav-link" href="#" style="color:black; font-size:120%;"><b>Contact us</b></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="color:black; font-size:120%;"><b>About us</b></a>
				</li>
				<li class="nav-item">
					<div class="box box1">
				  <a class="nav-link nl1" style="color:black; font-size:120%;"><b>Login</b></a>
					</div>
				</li>
					  <li class="nav-item">
					  <div class="box">
				  <a class="nav-link nl2" href="/register" style="color:black; font-size:120%;"><b>Sign up</b></a>
						  </div>
				</li>
				 </ul>
		  </nav>
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
 <!--djadjhfjhdsjfhjhfjkdsfjkdsfkjdsfbhfdksjhfkjsdfkjdshfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
		  
 	<div id="bigRightupdateBox">
		  <div class="loginbox">
			<h1>Update your Account</h1><br>
			<form action="/user/<%=user._id%>/update-user"id="update_user" method="POST">
				<input type="hidden" name="id" value="<%=user._id%>">
				<label for="name" class = "inpt">Updated Name</label><br>
			<input
				type="name"
				id="name"
				name="name"
				placeholder="Enter Name"
                value="<%=user.name%>"
				required
			/><br>
			<label for="email" class = "inpt">Updated Email</label><br>
			<input
				type="email"
				id="email"
				name="email"
				placeholder="Enter Email"
                value="<%=user.email%>"
				required
			/><br>
			<label for="contact" class = "inpt">Updated Contact No.</label><br>
			<input
				type="contact"
				id="contact"
				name="contact"
				placeholder="Enter Phone No."
                value="<%=user.contact%>"
				required
			/><br>
			<label for="password" class = "inpt">Updated Password</label><br>
			<input
				type="password"
				id="password"
				name="password"
				placeholder="Create Password"
				required
			/><br>
			<button type="submit">Update</button>
		</form>
		</div>
		</div>	
	<!--
			  <div class="google-btn">
			  <a id="googlebutton" href="/auth/google" class="btn red darken-1">
				<div class="google-icon-wrapper">
					<i class="fab fa-google"></i>
				  </div>
				  <p class="btn-text" style="text-align:center;"><b>Log in with google</b></p>
			</a>
		</div>
	-->
	
	 
		</script>
	</body>
</html>
